Answer 1

In [1]:
import pandas as pd

In [2]:
data=[4,8,15,16,23,42]

In [3]:
df=pd.Series(data)

In [4]:
print(df)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Answer 2

In [5]:
import pandas as pd

In [7]:
list=[]

In [10]:
for i in range(10):
    d=int(input())
    list.append(d)

 1
 3
 4
 5
 7
 8
 9
 2
 45
 89

In [11]:
df=pd.Series(list)

In [12]:
print(df)

0     1
1     3
2     4
3     5
4     7
5     8
6     9
7     2
8    45
9    89
dtype: int64

Answer 3

In [13]:
import pandas as pd

In [14]:
data={ 'Name':['Alice','Bob','Claire'],'Age':[25,30,27],'Gender':['Female','Male','Female']}

In [17]:
df=pd.DataFrame(data)

In [20]:
df.to_csv("Table1.csv")

In [19]:
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Answer 4

In Pandas, a DataFrame is a two-dimensional labeled data structure with columns that can be of different types (e.g., numeric, string, boolean). On the other hand, a Series is a one-dimensional labeled array capable of holding any data type. It is like a single column or row in a DataFrame.

For example the table with Name, Age, Gender is a Dataframe but when we speak only of the column Name it is a series.

Answer 5

Pandas provides a variety of functions to manipulate and analyze data in a DataFrame. Some common functions include:
head(), tail(), iloc(), info(), drop(), columns, are some of them.

In [21]:
import pandas as pd

In [23]:
df= pd.read_csv("Table1.csv")

In [24]:
df.head()

   Unnamed: 0    Name  Age  Gender
0           0   Alice   25  Female
1           1     Bob   30    Male
2           2  Claire   27  Female

In [26]:
df.tail(2)

   Unnamed: 0    Name  Age  Gender
1           1     Bob   30    Male
2           2  Claire   27  Female

Answer 6

Both Series and DataFrame are mutable while the panel (which was a 3 dimentional array) is immutable.

Answer 7

We can create a DataFrame using multiple Series by passing the Series as a dictionary to the pd.DataFrame constructor. Each Series becomes a column in the resulting DataFrame, and the keys of the dictionary become the column names.

In [12]:
import pandas as pd

In [13]:
series1= pd.Series([1,2,3], name='Numbers')

In [14]:
series2= pd.Series(['A','B','C'], name='Alphabets')

In [15]:
series3= pd.Series(['!','@','#'], name='Special Characters')

In [16]:
df=pd.DataFrame({'Numbers':series1,'Alphabets':series2,'Special Characters':series3})

In [17]:
print (df)

   Numbers Alphabets Special Characters
0        1         A                  !
1        2         B                  @
2        3         C                  #